---
permalink: /skills.json
tags: []
eleventyExcludeFromCollections: true
---
[
{%- for skill in collections.skills %}
  {
    "name": {{ skill.data.name | dump | safe }},
    "description": {{ skill.data.description | dump | safe }},
    "url": "{{ git.rawBaseUrl }}/main/src/skills/{{ skill.data.name }}/index.md"
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]
